.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: grid;
  grid-template-columns: 180px 120px 16px 120px;
  align-items: center;
  gap: 12px;
}

.separator {
  text-align: center;
  color: var(--color-black-500);
}

@media (max-width: 900px) {
  .row {
    grid-template-columns: 1fr;
  }

  .separator {
    display: none;
  }
}
