.page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pageTitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: var(--color-black-700);
}

.pageDescription {
  margin-top: 4px;
  font-size: var(--text-m-size);
  line-height: var(--text-m-line);
  color: var(--color-black-500);
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
