.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  min-height: 100vh;
  padding: 24px;
  background: var(--color-gray-25);
}

.logo {
  color: var(--color-primary-500);
}
