.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  background: var(--color-white);
  border: 1px solid var(--color-gray-50);
  border-radius: 12px;
}

.label {
  font-size: var(--text-m-size);
  font-weight: 500;
  line-height: var(--text-m-line);
  color: var(--color-black-500);
}

.value {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: var(--color-black-700);
}

.change {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-black-500);
}

.changeValue {
  font-weight: 500;
}

.changeUp {
  color: var(--color-green-500);
}

.changeDown {
  color: var(--color-red-500);
}
